# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables & secrets
.env
.env.*
!.env.example
ga-tokens.json
ga-credentials.json

# Runtime & upload data
recordings_data/*
!recordings_data/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs & code editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs & test coverage
dist/
build/
coverage/
.temp/
.cache/

# Database / SQLite files
*.sqlite
*.sqlite3
*.db
*.db-journal
